/* 대응 현황_수정 */

position: relative;
width: 1340px;
height: 800px;

background: #15171F;


/* Frame 7 */

box-sizing: border-box;

position: absolute;
width: 647px;
height: 652px;
left: 23px;
top: 123px;

border-radius: 10px;


/* Group 24 */

position: absolute;
width: 607px;
height: 416px;
left: 20px;
top: 70px;



/* image 17 */

box-sizing: border-box;

position: absolute;
width: 607px;
height: 416px;
left: 20px;
top: 70px;

background: url(image.png);
border: 2.65871px solid #2D333D;
border-radius: 8.86236px;


/* DOGOK 119 */

position: absolute;
width: 136px;
height: 34px;
left: 61px;
top: 353px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 24.8175px;
line-height: 30px;

color: #FFFFFF;



/* DOGOK 119 */

position: absolute;
width: 136px;
height: 34px;
left: 61px;
top: 353px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 24.8175px;
line-height: 30px;

color: #FFFFFF;



/* Seocho Hanshin */

position: absolute;
width: 109.02px;
height: 34.57px;
left: 493px;
top: 199px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 24.8175px;
line-height: 30px;
text-align: center;

color: #FFFFFF;



/* Vector 1 */

position: absolute;
width: 312.88px;
height: 271.22px;
left: 143.2px;
top: 150.57px;

border: 3.54536px solid #0B7E3F;
box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);


/* Vector 2 */

position: absolute;
width: 312.88px;
height: 271.22px;
left: 143.2px;
top: 150.57px;

border: 3.54536px solid #00EA67;
box-shadow: 0px 0px 4px rgba(0, 149, 60, 0.8);


/* Vector 1 */

position: absolute;
width: 91.29px;
height: 122.31px;
left: 456.08px;
top: 150.57px;

border: 3.54536px dashed rgba(255, 255, 255, 0.5);


/* Ellipse 4 */

position: absolute;
width: 20.39px;
height: 22.16px;
left: 447.22px;
top: 140.82px;

background: #00EA67;


/* ETA 03:00 */

position: absolute;
width: 189.68px;
height: 35.45px;
left: 361.47px;
top: 98.27px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 24.8175px;
line-height: 30px;
text-align: center;

color: #00EA67;

text-shadow: 0px 0px 4px #00EA67;


/* FIRE DEPT · DOGOK 119 */

position: absolute;
width: 283px;
height: 29px;
left: 20px;
top: 16px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
/* identical to box height */
letter-spacing: 0.05em;

color: #FFFFFF;



/* Vector 7 */

position: absolute;
width: 603px;
height: 0px;
left: 22.5px;
top: 532.5px;

border: 2px solid #00EA67;
box-shadow: 0px 0px 4px #72C87A;


/* Vector 8 */

position: absolute;
width: 603px;
height: 0px;
left: 22.5px;
top: 532.5px;

border: 2px solid #00EA67;
box-shadow: 0px 0px 4px #72C87A;


/* Frame 5 */

position: absolute;
width: 624px;
height: 117px;
left: calc(50% - 624px/2 + 0.5px);
top: calc(50% - 117px/2 + 246.5px);



/* Group 20 */

position: absolute;
width: 35.76px;
height: 36.84px;
left: 48.87px;
top: -0.25px;



/* Ellipse 5 */

box-sizing: border-box;

position: absolute;
width: 35.76px;
height: 36.84px;
left: 48.87px;
top: -0.25px;

background: #00EA67;
border: 1.82333px solid #00EA67;


/* Vector 2 */

position: absolute;
width: 13.71px;
height: 10.44px;
left: 59.6px;
top: 12.03px;

border: 1.82333px solid #FFFFFF;


/* Group 21 */

position: absolute;
width: 35.76px;
height: 36.84px;
left: 212.37px;
top: -0.25px;



/* Ellipse 5 */

box-sizing: border-box;

position: absolute;
width: 35.76px;
height: 36.84px;
left: 212.37px;
top: -0.25px;

background: #00EA67;
border: 1.82333px solid #00EA67;


/* Vector 2 */

position: absolute;
width: 13.71px;
height: 10.44px;
left: 223.1px;
top: 12.03px;

border: 1.82333px solid #FFFFFF;


/* Group 23 */

position: absolute;
width: 35.76px;
height: 36.84px;
left: 375.87px;
top: -0.25px;



/* Ellipse 5 */

box-sizing: border-box;

position: absolute;
width: 35.76px;
height: 36.84px;
left: 375.87px;
top: -0.25px;

background: #12151B;
border: 1.82333px solid #00EA67;


/* Group 24 */

position: absolute;
width: 35.76px;
height: 36.84px;
left: 539.37px;
top: -0.25px;



/* Ellipse 5 */

box-sizing: border-box;

position: absolute;
width: 35.76px;
height: 36.84px;
left: 539.37px;
top: -0.25px;

background: #12151B;
border: 1.82333px solid #00EA67;


/* Reported */

position: absolute;
width: 133.5px;
height: 36.33px;
left: 0px;
top: 40.33px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #CBCED8;



/* Dispatched */

position: absolute;
width: 133.5px;
height: 36.33px;
left: 163.5px;
top: 40.33px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #CBCED8;



/* En Route */

position: absolute;
width: 133.5px;
height: 36.33px;
left: 327px;
top: 40.33px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #CBCED8;



/* On Site */

position: absolute;
width: 133.5px;
height: 36.33px;
left: 490.5px;
top: 40.33px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #CBCED8;



/* 02:56 */

position: absolute;
width: 133.5px;
height: 24px;
left: 0px;
top: 80.67px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #75787C;



/* 02:58 */

position: absolute;
width: 133.5px;
height: 24px;
left: 163.5px;
top: 80.67px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #75787C;



/* 02:58 */

position: absolute;
width: 133.5px;
height: 24px;
left: 327px;
top: 80.67px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #75787C;



/* 03:00 */

position: absolute;
width: 133.5px;
height: 24px;
left: 490.5px;
top: 80.67px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #75787C;



/* Group 27 */

position: absolute;
width: 54px;
height: 54px;
left: 105px;
top: 394px;



/* Group 26 */

position: absolute;
visibility: hidden;
width: 54.4px;
height: 28.45px;
left: 108px;
top: 408px;



/* Rectangle 111 */

position: absolute;
width: 54.4px;
height: 28.45px;
left: 108px;
top: 408px;

background: #FFFFFF;
border-radius: 7.64706px;


/* Ellipse 12 */

box-sizing: border-box;

position: absolute;
width: 54px;
height: 54px;
left: 105px;
top: 394px;

background: #FFFFFF;
border: 2px solid #DA0106;


/* image 43 [Vectorized] */

box-sizing: border-box;

position: absolute;
width: 41px;
height: 19px;
left: 112px;
top: 411px;



/* Group 26 */

position: absolute;
width: 41px;
height: 19px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 5.3%;
right: 72.44%;
top: 40.49%;
bottom: 22.3%;

background: #DA0106;


/* Vector */

position: absolute;
left: 25.87%;
right: 51.61%;
top: 40.49%;
bottom: 22.3%;

background: #DA0106;


/* Vector */

position: absolute;
left: 57.35%;
right: 19.41%;
top: 88.53%;
bottom: 7.17%;

background: #DA0106;


/* Vector */

position: absolute;
left: 60.56%;
right: 17.23%;
top: 81.24%;
bottom: 14.7%;

background: #DA0106;


/* Vector */

position: absolute;
left: 1.7%;
right: 82.02%;
top: 88.52%;
bottom: 7.2%;

background: #DA0106;


/* Vector */

position: absolute;
left: 22.45%;
right: 61.24%;
top: 88.52%;
bottom: 7.19%;

background: #DA0106;


/* Vector */

position: absolute;
left: 24.27%;
right: 59.64%;
top: 81.17%;
bottom: 14.76%;

background: #DA0106;


/* Vector */

position: absolute;
left: 3.54%;
right: 80.45%;
top: 81.18%;
bottom: 14.76%;

background: #DA0106;


/* Vector */

position: absolute;
left: 50.64%;
right: 0%;
top: 0%;
bottom: 22.27%;

background: #DA0106;


/* Vector */

position: absolute;
left: 54.12%;
right: 21.78%;
top: 96.13%;
bottom: 0%;

background: #DA0106;


/* Vector */

position: absolute;
left: 0%;
right: 83.46%;
top: 96.15%;
bottom: 0%;

background: #DA0106;


/* Vector */

position: absolute;
left: 20.63%;
right: 62.73%;
top: 96.11%;
bottom: 0%;

background: #DA0106;


/* Frame 9 */

box-sizing: border-box;

position: absolute;
width: 610px;
height: 317px;
left: 695px;
top: 124px;

background: #1B1C23;
border: 1px solid #3D4350;
border-radius: 10px;


/* TAP WHAT APPLIES */

position: absolute;
width: 209px;
height: 25px;
left: 30px;
top: 119px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 21.2722px;
line-height: 25px;
letter-spacing: 0.05em;

color: #FFFFFF;



/* Frame 14 */

position: absolute;
width: 492px;
height: 140px;
left: 59px;
top: 158px;



/* Frame 17 */

box-sizing: border-box;

position: absolute;
width: 232px;
height: 53px;
left: 2px;
top: 7px;

background: #1B1C23;
border: 2px solid #3D4350;
border-radius: 30px;


/* Rectangle 100 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 29px;
height: 29px;
left: 15px;
top: 14px;

background: #1B1C23;
border: 2px solid #3D4350;
border-radius: 7px;


/* Injured */

position: absolute;
width: 75px;
height: 29px;
left: calc(50% - 75px/2 - 0.5px);
top: calc(50% - 29px/2 + 1px);

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Frame 16 */

box-sizing: border-box;

position: absolute;
width: 232px;
height: 53px;
left: 258px;
top: 7px;

background: #1B1C23;
border: 2px solid #3D4350;
border-radius: 30px;


/* Rectangle 100 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 29px;
height: 29px;
left: 15px;
top: 14px;

background: #1B1C23;
border: 2px solid #3D4350;
border-radius: 7px;


/* Injured */

position: absolute;
width: 150px;
height: 29px;
left: calc(50% - 150px/2 - 1px);
top: calc(50% - 29px/2 + 1px);

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Frame 18 */

box-sizing: border-box;

position: absolute;
width: 232px;
height: 53px;
left: 2px;
top: 80px;

background: #1B1C23;
border: 2px solid #3D4350;
border-radius: 30px;


/* Rectangle 100 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 29px;
height: 29px;
left: 15px;
top: 14px;

background: #1B1C23;
border: 2px solid #3D4350;
border-radius: 7px;


/* Injured */

position: absolute;
width: 147px;
height: 29px;
left: calc(50% - 147px/2 - 0.5px);
top: calc(50% - 29px/2 + 1px);

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Frame 19 */

box-sizing: border-box;

position: absolute;
width: 232px;
height: 53px;
left: 258px;
top: 80px;

background: rgba(218, 1, 6, 0.2);
box-shadow: 0px 0px 6px #DA0106;
border-radius: 30px;


/* Rectangle 100 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 29px;
height: 29px;
left: 15px;
top: 14px;

background: #1B1C23;
border: 2px solid #3D4350;
border-radius: 7px;


/* Injured */

position: absolute;
width: 151px;
height: 29px;
left: calc(50% - 151px/2 - 0.5px);
top: calc(50% - 29px/2 + 1px);

font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Frame 8 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 144px;
gap: 17px;

position: absolute;
width: 553px;
height: 67px;
left: 723px;
top: 146px;

background: #DA0106;
box-shadow: 0px 0px 11px rgba(255, 255, 255, 0.25);
border-radius: 10px;


/* Group 27 */

width: 74.56px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 26 */

position: absolute;
width: 74.56px;
height: 39px;
left: 185.22px;
top: 14px;



/* Rectangle 111 */

position: absolute;
width: 74.56px;
height: 39px;
left: 185.22px;
top: 14px;

background: #FFFFFF;
border-radius: 7.64706px;


/* image 43 [Vectorized] */

position: absolute;
width: 69.92px;
height: 34.03px;
left: 188.66px;
top: 16.29px;



/* Group 26 */

position: absolute;
width: 69.92px;
height: 34.03px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 5.3%;
right: 72.44%;
top: 40.49%;
bottom: 22.3%;

background: #DA0106;


/* Vector */

position: absolute;
left: 25.87%;
right: 51.61%;
top: 40.49%;
bottom: 22.3%;

background: #DA0106;


/* Vector */

position: absolute;
left: 57.35%;
right: 19.41%;
top: 88.53%;
bottom: 7.17%;

background: #DA0106;


/* Vector */

position: absolute;
left: 60.56%;
right: 17.23%;
top: 81.24%;
bottom: 14.7%;

background: #DA0106;


/* Vector */

position: absolute;
left: 1.7%;
right: 82.02%;
top: 88.52%;
bottom: 7.2%;

background: #DA0106;


/* Vector */

position: absolute;
left: 22.45%;
right: 61.24%;
top: 88.52%;
bottom: 7.19%;

background: #DA0106;


/* Vector */

position: absolute;
left: 24.27%;
right: 59.64%;
top: 81.17%;
bottom: 14.76%;

background: #DA0106;


/* Vector */

position: absolute;
left: 3.54%;
right: 80.45%;
top: 81.18%;
bottom: 14.76%;

background: #DA0106;


/* Vector */

position: absolute;
left: 50.64%;
right: 0%;
top: 0%;
bottom: 22.27%;

background: #DA0106;


/* Vector */

position: absolute;
left: 54.12%;
right: 21.78%;
top: 96.13%;
bottom: 0%;

background: #DA0106;


/* Vector */

position: absolute;
left: 0%;
right: 83.46%;
top: 96.15%;
bottom: 0%;

background: #DA0106;


/* Vector */

position: absolute;
left: 20.63%;
right: 62.73%;
top: 96.11%;
bottom: 0%;

background: #DA0106;


/* CALL */

width: 91px;
height: 43px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 43px;
/* identical to box height */

color: #FFFFFF;

text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* image 38 */

position: absolute;
width: 23px;
height: 22px;
left: 958px;
top: 632px;



/* Emergency Response Status */

position: absolute;
width: 465px;
height: 42px;
left: 78px;
top: 52px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 34.994px;
line-height: 42px;
/* identical to box height */

color: #FFFFFF;



/* Emergency Response Status */

position: absolute;
width: 465px;
height: 42px;
left: 78px;
top: 52px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 34.994px;
line-height: 42px;
/* identical to box height */

color: #FFFFFF;

text-shadow: 0px 0px 3.4994px #72C87A;


/* Frame 15 */

box-sizing: border-box;

position: absolute;
width: 610px;
height: 267px;
left: 695px;
top: 475px;

background: #1B1C23;
border: 1px solid #3D4350;
border-radius: 10px;


/* DO THIS NOW */

position: absolute;
width: 146.97px;
height: 15.5px;
left: 28.54px;
top: 31.45px;



/* Vector */

position: absolute;
width: 19.4px;
height: 15.04px;
left: 156.11px;
top: 31.65px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 13.57px;
height: 15.46px;
left: 140.3px;
top: 31.45px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 12.13px;
height: 15.04px;
left: 124.52px;
top: 31.65px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 11.22px;
height: 15.5px;
left: 103.53px;
top: 31.45px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 2.29px;
height: 15.04px;
left: 97.73px;
top: 31.65px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 12.05px;
height: 15.04px;
left: 81.55px;
top: 31.65px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 11.65px;
height: 15.04px;
left: 66.5px;
top: 31.65px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 13.57px;
height: 15.46px;
left: 43.79px;
top: 31.45px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 12.11px;
height: 15.04px;
left: 28.54px;
top: 31.65px;

background: #FFFFFF;


/* Frame 16 */

box-sizing: border-box;

position: absolute;
width: 555.61px;
height: 83.96px;
left: 27.16px;
top: 75.32px;

background: rgba(203, 21, 21, 0.1);
border: 1px solid #6F0A0C;
border-radius: 8px;


/* Cover mouth & nose with a wet cloth */

position: absolute;
width: 363.14px;
height: 16.12px;
left: 75.5px;
top: 13.51px;



/* Vector */

position: absolute;
width: 10.39px;
height: 15.04px;
left: 428.25px;
top: 14.36px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.92px;
height: 14.13px;
left: 419.32px;
top: 15.42px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 11.07px;
height: 11.65px;
left: 407.13px;
top: 17.98px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 3.07px;
height: 15.04px;
left: 402.12px;
top: 14.36px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.53px;
height: 11.65px;
left: 389.68px;
top: 17.98px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.92px;
height: 14.13px;
left: 376.55px;
top: 15.42px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.74px;
height: 11.65px;
left: 364.69px;
top: 17.98px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 16.72px;
height: 11.28px;
left: 347.13px;
top: 18.12px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.05px;
height: 11.63px;
left: 330.68px;
top: 17.98px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.39px;
height: 15.04px;
left: 313.56px;
top: 14.36px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.92px;
height: 14.13px;
left: 304.63px;
top: 15.42px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 3.34px;
height: 15.89px;
left: 299.83px;
top: 13.51px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 16.72px;
height: 11.28px;
left: 281.7px;
top: 18.12px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.74px;
height: 11.65px;
left: 264.97px;
top: 17.98px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.1px;
height: 11.65px;
left: 253.44px;
top: 17.98px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 11.07px;
height: 11.65px;
left: 240.96px;
top: 17.98px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.32px;
height: 11.43px;
left: 228.7px;
top: 17.98px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 13.03px;
height: 15.48px;
left: 209.57px;
top: 14.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.39px;
height: 15.04px;
left: 192.35px;
top: 14.36px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.92px;
height: 14.13px;
left: 183.42px;
top: 15.42px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.3px;
height: 11.43px;
left: 171.53px;
top: 18.12px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 11.07px;
height: 11.65px;
left: 158.53px;
top: 17.98px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 16.33px;
height: 11.43px;
left: 140.29px;
top: 17.98px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.79px;
height: 11.45px;
left: 127.1px;
top: 17.95px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.74px;
height: 11.65px;
left: 114.43px;
top: 17.98px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 11.36px;
height: 11.28px;
left: 102.4px;
top: 18.12px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 11.07px;
height: 11.65px;
left: 90.66px;
top: 17.98px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 13.5px;
height: 15.46px;
left: 75.5px;
top: 14.15px;

background: #FFFFFF;


/* Soak a thick towel. Hold it over your mouth and nose. Breathe slowly through it - this filters most smoke. */

position: absolute;
width: 450.74px;
height: 31.2px;
left: 74.41px;
top: 39.81px;



/* Vector */

position: absolute;
width: 1.85px;
height: 1.87px;
left: 302.04px;
top: 66.13px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.95px;
height: 8.12px;
left: 293.52px;
top: 59.95px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.57px;
height: 10.48px;
left: 286.56px;
top: 57.43px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 277.78px;
top: 59.95px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.36px;
height: 7.96px;
left: 265.79px;
top: 59.95px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.11px;
height: 8.12px;
left: 258.07px;
top: 59.95px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 249.03px;
top: 58.17px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.11px;
height: 8.12px;
left: 241.96px;
top: 59.95px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 233.56px;
top: 59.95px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.36px;
height: 7.96px;
left: 221.58px;
top: 59.95px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.11px;
height: 8.12px;
left: 210.13px;
top: 59.95px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 3.96px;
height: 7.99px;
left: 205.33px;
top: 59.92px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.95px;
height: 8.12px;
left: 196.76px;
top: 59.95px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 191.51px;
top: 58.17px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 1.24px;
height: 10.48px;
left: 188.95px;
top: 57.43px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 1.75px;
height: 10.81px;
left: 185.48px;
top: 57.1px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 4.43px;
height: 10.97px;
left: 179.99px;
top: 56.94px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.11px;
height: 8.12px;
left: 169.29px;
top: 59.95px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 1.75px;
height: 10.81px;
left: 166.19px;
top: 57.1px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.34px;
height: 10.48px;
left: 158.1px;
top: 57.43px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 152.23px;
top: 58.17px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 4.59px;
height: 1.14px;
left: 142.68px;
top: 62.86px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 133.35px;
top: 58.17px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 1.75px;
height: 10.81px;
left: 130.54px;
top: 57.1px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.34px;
height: 10.48px;
left: 118.73px;
top: 57.43px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.97px;
height: 11.07px;
left: 109.78px;
top: 59.95px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.19px;
height: 7.96px;
left: 101.96px;
top: 60.05px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 93.18px;
top: 59.95px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 3.96px;
height: 7.99px;
left: 88.62px;
top: 59.92px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.34px;
height: 10.48px;
left: 80.29px;
top: 57.43px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 74.41px;
top: 58.17px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.09px;
height: 10.81px;
left: 518.06px;
top: 42.77px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 1.24px;
height: 10.48px;
left: 515.46px;
top: 40.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.76px;
height: 7.86px;
left: 503.32px;
top: 42.77px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 495.42px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 1.24px;
height: 10.48px;
left: 492.57px;
top: 40.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.11px;
height: 8.12px;
left: 484.84px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.95px;
height: 8.12px;
left: 472.93px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.34px;
height: 10.48px;
left: 464.97px;
top: 40.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 459.1px;
top: 40.88px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.31px;
height: 8.15px;
left: 451.46px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.95px;
height: 8.12px;
left: 443.27px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 3.96px;
height: 7.99px;
left: 438.71px;
top: 42.64px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.32px;
height: 10.48px;
left: 429.7px;
top: 40.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 1.85px;
height: 1.87px;
left: 422.03px;
top: 48.84px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.95px;
height: 8.12px;
left: 413.51px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.11px;
height: 8.12px;
left: 406.16px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 397.75px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.25px;
height: 7.96px;
left: 389.88px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.97px;
height: 10.63px;
left: 377.03px;
top: 40.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.25px;
height: 7.96px;
left: 369.16px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.31px;
height: 8.15px;
left: 360.86px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.34px;
height: 10.48px;
left: 349.18px;
top: 40.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 343.31px;
top: 40.88px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.19px;
height: 7.96px;
left: 335.78px;
top: 42.77px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 327px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.36px;
height: 7.96px;
left: 315.02px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 3.96px;
height: 7.99px;
left: 306.12px;
top: 42.64px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.19px;
height: 7.96px;
left: 297.93px;
top: 42.77px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 289.15px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.09px;
height: 10.81px;
left: 281.35px;
top: 42.77px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 3.96px;
height: 7.99px;
left: 273.07px;
top: 42.64px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.95px;
height: 8.12px;
left: 264.51px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.09px;
height: 7.86px;
left: 256.71px;
top: 42.77px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 248.84px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 239.79px;
top: 40.88px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 1.75px;
height: 10.81px;
left: 236.99px;
top: 39.81px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.97px;
height: 10.63px;
left: 224.38px;
top: 40.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 1.24px;
height: 10.48px;
left: 221.53px;
top: 40.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 212.75px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 8.16px;
height: 10.48px;
left: 202.83px;
top: 40.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 1.85px;
height: 1.87px;
left: 195.16px;
top: 48.84px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 1.24px;
height: 10.48px;
left: 191.97px;
top: 40.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.95px;
height: 8.12px;
left: 183.41px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 10.76px;
height: 7.86px;
left: 171.91px;
top: 42.77px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 164.01px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 158.75px;
top: 40.88px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.57px;
height: 10.48px;
left: 148.05px;
top: 40.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.68px;
height: 8.12px;
left: 139.83px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 1.75px;
height: 10.81px;
left: 136.73px;
top: 39.81px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.34px;
height: 10.48px;
left: 128.64px;
top: 40.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 122.77px;
top: 40.88px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.31px;
height: 8.15px;
left: 111.41px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.57px;
height: 10.48px;
left: 100.41px;
top: 40.15px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 6.31px;
height: 8.15px;
left: 92.11px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 83.7px;
top: 42.66px;

background: #FFFFFF;


/* Vector */

position: absolute;
width: 7.58px;
height: 10.81px;
left: 74.79px;
top: 40px;

background: #FFFFFF;


/* Group 25 */

position: absolute;
width: 44.45px;
height: 44.45px;
left: 16.05px;
top: 19.75px;



/* Rectangle 110 */

position: absolute;
width: 44.45px;
height: 44.45px;
left: 16.05px;
top: 19.75px;

background: #FF182D;


/* Vector 12 (Stroke) */

position: absolute;
width: 15.04px;
height: 22.76px;
left: 30.87px;
top: 30.33px;

background: #FFFFFF;


/* Vector 2 (Stroke) */

position: absolute;
width: 16.14px;
height: 13px;
left: 30.87px;
top: 190.14px;

background: #00EA67;
opacity: 0.9;


/* Vector 3 (Stroke) */

position: absolute;
width: 16.14px;
height: 13px;
left: 30.87px;
top: 222.24px;

background: #00EA67;
opacity: 0.9;


/* Vector 2 (Stroke) */

position: absolute;
width: 16.14px;
height: 13px;
left: 30.87px;
top: 190.14px;

background: #00EA67;
opacity: 0.9;
box-shadow: 0px 0px 4px #00EA67;


/* Vector 3 (Stroke) */

position: absolute;
width: 16.14px;
height: 13px;
left: 30.87px;
top: 222.24px;

background: #00EA67;
opacity: 0.9;
box-shadow: 0px 0px 4px #00EA67;


/* Close all doors to the hallway */

position: absolute;
width: 193.33px;
height: 13.57px;
left: 66.07px;
top: 191.19px;



/* Vector */

position: absolute;
width: 193.33px;
height: 1.01px;
left: 66.07px;
top: 197.1px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 7.09px;
height: 10.81px;
left: 251.94px;
top: 193.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.31px;
height: 8.15px;
left: 244.54px;
top: 193.86px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 10.76px;
height: 7.86px;
left: 232.78px;
top: 193.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 1.24px;
height: 10.48px;
left: 230.18px;
top: 191.34px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 1.24px;
height: 10.48px;
left: 226.95px;
top: 191.34px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.31px;
height: 8.15px;
left: 218.65px;
top: 193.86px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.34px;
height: 10.48px;
left: 210.69px;
top: 191.34px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.95px;
height: 8.12px;
left: 198.4px;
top: 193.86px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.34px;
height: 10.48px;
left: 190.45px;
top: 191.34px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 184.57px;
top: 192.08px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 172.74px;
top: 193.86px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 167.48px;
top: 192.08px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.11px;
height: 8.12px;
left: 156.7px;
top: 193.86px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 3.96px;
height: 7.99px;
left: 151.9px;
top: 193.83px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 143.12px;
top: 193.86px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 134.71px;
top: 193.86px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.97px;
height: 10.63px;
left: 125.96px;
top: 191.34px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 1.24px;
height: 10.48px;
left: 119.39px;
top: 191.34px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 1.24px;
height: 10.48px;
left: 116.16px;
top: 191.34px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.31px;
height: 8.15px;
left: 107.86px;
top: 193.86px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.95px;
height: 8.12px;
left: 95.95px;
top: 193.86px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.11px;
height: 8.12px;
left: 88.6px;
top: 193.86px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 80.19px;
top: 193.86px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 1.24px;
height: 10.48px;
left: 77.34px;
top: 191.34px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 8.86px;
height: 10.76px;
left: 66.82px;
top: 191.19px;

background: rgba(255, 255, 255, 0.5);


/* Seal door gaps with wet towels */

position: absolute;
width: 206.02px;
height: 13.92px;
left: 66.07px;
top: 223.11px;



/* Vector */

position: absolute;
width: 206.02px;
height: 1.01px;
left: 66.07px;
top: 229.2px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.11px;
height: 8.12px;
left: 265.37px;
top: 225.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 1.24px;
height: 10.48px;
left: 262.52px;
top: 223.44px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.95px;
height: 8.12px;
left: 253.95px;
top: 225.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 10.76px;
height: 7.86px;
left: 242.45px;
top: 226.06px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 234.55px;
top: 225.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 229.29px;
top: 224.18px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 220.54px;
top: 224.18px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.95px;
height: 8.12px;
left: 212.64px;
top: 225.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 10.76px;
height: 7.86px;
left: 201.14px;
top: 226.06px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.34px;
height: 10.48px;
left: 189.71px;
top: 223.44px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 4.21px;
height: 9.84px;
left: 183.83px;
top: 224.18px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 1.75px;
height: 10.81px;
left: 181.03px;
top: 223.11px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 10.76px;
height: 7.86px;
left: 169.13px;
top: 226.06px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.11px;
height: 8.12px;
left: 158.31px;
top: 225.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.96px;
height: 10.91px;
left: 150.11px;
top: 225.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.31px;
height: 8.15px;
left: 141.8px;
top: 225.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.97px;
height: 11.07px;
left: 133.22px;
top: 225.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 3.96px;
height: 7.99px;
left: 124.7px;
top: 225.93px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 115.92px;
top: 225.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 7.15px;
height: 8.12px;
left: 107.51px;
top: 225.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.97px;
height: 10.63px;
left: 98.76px;
top: 223.44px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 1.24px;
height: 10.48px;
left: 92.19px;
top: 223.44px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.31px;
height: 8.15px;
left: 83.88px;
top: 225.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 6.95px;
height: 8.12px;
left: 75.69px;
top: 225.96px;

background: rgba(255, 255, 255, 0.5);


/* Vector */

position: absolute;
width: 7.58px;
height: 10.81px;
left: 66.78px;
top: 223.29px;

background: rgba(255, 255, 255, 0.5);


/* 19:42 */

position: absolute;
width: 63px;
height: 29px;
left: 1224px;
top: 40px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #F2EDE9;



/* Ellipse 11 */

position: absolute;
width: 7px;
height: 7px;
left: 50px;
top: 69px;

background: #00EA67;
box-shadow: 0px 0px 7.5px #00EA67;
